::selection {
	color: rgb(255, 255, 255);
	background-color: rgb(255, 75, 135);
}

.cotainer {
	color: plum;
}

.content {
	color: rgb(75, 255, 114);
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.header {
	color: sandybrown;
	/****** FLEX ********/
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	/********************/
}

.name {
	margin-top: 50px;
	color: rgb(90, 36, 116);
	width: 200px;
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
	font-size: 35px;
	height: 100px;
}

#name-main {
	opacity: 100%;
	z-index: 100;
	transition: ease-out 0.5s;
}

#name-main:hover {
	opacity: 0%;
}

#name-main:hover+#name-back-main {
	opacity: 100%;
}

#name-back-main {
	margin-top: 50px;
	color: rgb(44, 11, 59);
	font-size: 18px;
	width: 200px;
	text-align: center;
	margin-left: -300px;
	opacity: 0%;
	z-index: 50;
	transition: ease-out 0.5s;
	font-family: 'Ubuntu', sans-serif;
	font-style: italic;
}

.main {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.button {
	color: rgb(255, 75, 135);
	font-family: 'Poppins', sans-serif;
	font-size: 23px;
	border: solid 8px;
	width: 169px;
	text-align: center;
	transition: ease-out 0.5s;
}

#o-mnie {
	border-color: rgb(159, 255, 188);
}

#o-mnie:hover {
	background-color: rgb(185, 240, 240);
}

#moje-prace {
	border-color: rgb(185, 240, 240);
}

#moje-prace:hover {
	background-color: rgb(255, 235, 119);
}

#moja-szkola {
	border-color: rgb(255, 235, 119);
}

#moja-szkola:hover {
	background-color: rgb(159, 255, 188);
}